.form {
  margin: 20px 20px;
  min-width: 300px;
}

.form-field {
  font-size: inherit;
  margin: 15px 0;
  padding: 12px 20px;
  width: 100%;
}

.button {
  background-color: #ffbf00;

  color: var(--stone);
  width: 50%;
  font-size: inherit;
  margin: 15px 0;
  padding: 12px 20px;
  width: 100%;
}
.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
