@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'octarine';
  src: url('../Fonts/octarine-bold-webfont.woff2') format('woff2'),
    url('../Fonts/octarine-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'octarineitalic';
  src: url('../Fonts/octarine-boldoblique-webfont.woff2')
      format('woff2'),
    url('../Fonts/octarine-boldoblique-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'octarine';
  src: url('../Fonts/octarine-bold-webfont.woff2') format('woff2'),
    url('../Fonts/octarine-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'octarineitalic';
  src: url('../Fonts/octarine-boldoblique-webfont.woff2')
      format('woff2'),
    url('../Fonts/octarine-boldoblique-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Oxygen', sans-serif;
  background-color: #fbfcfc;
}

* {
  box-sizing: border-box;
  --stone: #383630;
  /* outline: red solid 2px; */
}

/* backgroundimages */

.herobg {
  background: url('/heroimg.png') center no-repeat;
  background-size: cover;
}

.contactli {
  font-size: 4vw;
  line-height: 1.2em;
  font-family: 'octarine';
}
.heroli {
  font-size: 4vw;
  line-height: 1.2em;
  font-family: 'octarine';
}
.heroli:hover {
  color: transparent;
  -webkit-text-stroke: 2px #ff89ff;
  transition: ease-out 0.4s;
}

.iconsize {
  font-size: 1.4vw;
  opacity: 80%;
  color: white;
  mix-blend-mode: difference;
}

.header {
  font-family: 'octarine';
  font-size: 2vw;
  color: var(--stone);
  mix-blend-mode: darken;
}
.paragraph {
  font-family: 'Oxygen';
  font-size: 1.4vw;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
html.lenis {
  height: auto;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.navbarcontainer {
  position: fixed;
  width: 100vw;
  text-decoration: none;
  z-index: 99;
  color: white;
  mix-blend-mode: difference;
}
.logo:hover {
  color: #39ff14;
  transition: ease-out 0.4s;
}
/* smartphones */
@media (max-width: 500px) {
  .iconsize {
    font-size: 6vw;
    opacity: 80%;
    left: 65vw;
  }
  .header {
    font-family: 'octarine';
    font-size: 9vw;
    padding-left: 2vw;
  }
  .paragraph {
    font-family: 'Oxygen';
    font-size: 5vw;
    padding-left: 2vw;
  }
  .contactli {
    font-size: 11vw;
    line-height: 1.4em;
    font-family: 'octarine';
  }
  .heroli {
    font-size: 11vw;
    line-height: 1.2em;
    font-family: 'octarine';
  }

  .link {
    font-size: 5vw;
  }
  .logo {
    font-size: 6vw;
  }
}

/* small tablets, laptops & desktop monitors */
@media (min-width: 500px) {
  .iconsize {
    font-size: 4vw;
    opacity: 80%;
    left: 70vw;
  }
  .header {
    font-family: 'octarine';
    font-size: 6vw;
    padding-left: 1.5vw;
  }
  .paragraph {
    font-family: 'Oxygen';
    font-size: 3.5vw;
    padding-left: 1.5vw;
  }
  .link {
    font-size: 4vw;
  }
  .logo {
    font-size: 4.5vw;
  }
  .contactli {
    font-size: 7vw;
    line-height: 1.2em;
    font-family: 'octarine';
  }
  .heroli {
    font-size: 7vw;
    line-height: 1.2em;
    font-family: 'octarine';
  }
}
/* medium tablets, laptops & desktop monitors */
@media (min-width: 1000px) {
  .iconsize {
    font-size: 1.8vw;
    opacity: 80%;
    left: 84vw;
  }
  .header {
    font-family: 'octarine';
    font-size: 2.5vw;
    padding-left: 1.5vw;
  }
  .paragraph {
    font-family: 'Oxygen';
    font-size: 1.35vw;
    padding-left: 1.5vw;
  }
  .link {
    font-size: 1.4vw;
  }
  .logo {
    font-size: 1.8vw;
  }
  .contactli {
    font-size: 3.5vw;
    line-height: 1.4em;
    font-family: 'octarine';
  }
  .heroli {
    font-size: 3.5vw;
    line-height: 1.4em;
    font-family: 'octarine';
  }
}

/* widescreen monitors */
@media (min-width: 1500px) {
  .iconsize {
    font-size: 1.8vw;
    opacity: 80%;
  }
  .header {
    font-family: 'octarine';
    font-size: 2vw;
    padding-left: 1.5vw;
  }
  .paragraph {
    font-family: 'Oxygen';
    font-size: 1.5vw;
    padding-left: 1.5vw;
  }
  .link {
    font-size: 1.8vw;
  }

  .contactli {
    font-size: 4vw;
    line-height: 1.4em;
    font-family: 'octarine';
  }
  .heroli {
    font-size: 4vw;
    line-height: 1.4em;
    font-family: 'octarine';
  }
  .logo {
    font-size: 2vw;
  }
}
