@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'octarine';
  src: url('../Fonts/octarine-bold-webfont.woff2') format('woff2'),
    url('../Fonts/octarine-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'octarineitalic';
  src: url('../Fonts/octarine-boldoblique-webfont.woff2')
      format('woff2'),
    url('../Fonts/octarine-boldoblique-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'octarine';
  src: url('../Fonts/octarine-bold-webfont.woff2') format('woff2'),
    url('../Fonts/octarine-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'octarineitalic';
  src: url('../Fonts/octarine-boldoblique-webfont.woff2')
      format('woff2'),
    url('../Fonts/octarine-boldoblique-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Oxygen', sans-serif;
  background-color: #fbfcfc;
}

* {
  box-sizing: border-box;
  --stone: #383630;
  /* outline: red solid 2px; */
}

/* backgroundimages */

.herobg {
  background: url('/herodd2.png') center no-repeat;
  background-size: cover;
}
.contactbg {
  background: url('/herodd2.png') center no-repeat;
  background-size: cover;
}

.aboutbgdd {
  font-size: clamp(4vw, 12vw - 10%, 14vw);
  font-family: 'octarine';
}

.contactli1:hover,
.contactli2:hover,
.contactli3:hover,
.heroli1:hover,
.heroli2:hover,
.heroli3:hover {
  -webkit-text-stroke: 4px #ff89ff;
  transition: ease-out 0.4s;
}

.iconsize {
  font-size: 1.4vw;
  opacity: 80%;
  color: white;
  mix-blend-mode: difference;
}

.header {
  font-family: 'octarine';
  font-size: 2vw;

  mix-blend-mode: darken;
}
.paragraph {
  font-family: 'Oxygen';
  font-size: 1.4vw;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
html.lenis {
  height: auto;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.navbarcontainer {
  position: fixed;
  width: 100vw;
  text-decoration: none;
  z-index: 99;
  color: white;
  mix-blend-mode: difference;
}
.logo:hover {
  color: #39ff14;
  transition: ease-out 0.4s;
}
/* smartphones */
@media (max-width: 500px) {
  .aboutbgdd {
    display: none;
  }

  .iconsize {
    font-size: 6vw;
    opacity: 80%;
    left: 65vw;
  }
  .header {
    font-family: 'octarine';
    font-size: calc(7vw - 0.25vw);
    padding-left: 2vw;
  }
  .paragraph {
    font-family: 'Oxygen';
    font-size: 4vw;
    padding-left: 2vw;
  }
  .heroheader {
    font-family: 'octarine';
    font-size: calc(7vw - 0.25vw);
    padding-left: 2vw;
  }
  .herosubheader {
    font-family: 'Oxygen';
    font-size: 4vw;
    padding-left: 2vw;
  }

  .heroli1 {
    -webkit-text-stroke: 4px #ffe900;
    font-size: calc(32vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }

  .heroli2 {
    -webkit-text-stroke: 3px #ffbf00;
    font-size: calc(22vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }

  .heroli3 {
    -webkit-text-stroke: 4px #ffe900;
    font-size: calc(22vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }
  .contactli1 {
    -webkit-text-stroke: 3px #ffe900;
    font-size: calc(18vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }

  .contactli2 {
    -webkit-text-stroke: 3px #ffbf00;
    font-size: calc(18vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }

  .contactli3 {
    -webkit-text-stroke: 4px #ffe900;
    font-size: calc(18vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }

  .link {
    font-size: 5vw;
  }
  .logo {
    font-size: 6vw;
  }
}

/* small tablets, laptops & desktop monitors */
@media (min-width: 500px) {
  .iconsize {
    font-size: 4vw;
    opacity: 80%;
    left: 70vw;
  }
  .header {
    font-family: 'octarine';
    font-size: 6vw;
    padding-left: 1.5vw;
  }
  .paragraph {
    font-family: 'Oxygen';
    font-size: 2.75vw;
    padding-left: 1.5vw;
  }
  .heroheader {
    font-family: 'octarine';
    font-size: calc(4vw - 0.25vw);
    padding-left: 2vw;
  }
  .herosubheader {
    font-family: 'Oxygen';
    font-size: 2.5vw;
    padding-left: 2vw;
  }
  .link {
    font-size: 3.5vw;
  }
  .logo {
    font-size: 4.25vw;
  }
  .contactli {
    font-size: 7vw;
    line-height: 1.2em;
    font-family: 'octarine';
  }
  .heroli1 {
    -webkit-text-stroke: 4px #ffe900;
    font-size: calc(22vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }
  .heroli2 {
    -webkit-text-stroke: 3px #ffbf00;
    font-size: calc(16vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }
  .heroli3 {
    -webkit-text-stroke: 4px #ffe900;
    font-size: calc(16vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }
  .contactli1 {
    -webkit-text-stroke: 3px #ffe900;
    font-size: calc(14vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }

  .contactli2 {
    -webkit-text-stroke: 3px #ffbf00;
    font-size: calc(14vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }

  .contactli3 {
    -webkit-text-stroke: 4px #ffe900;
    font-size: calc(14vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }
}
/* medium tablets, laptops & desktop monitors */
@media (min-width: 950px) {
  .iconsize {
    font-size: 1.8vw;
    opacity: 80%;
    left: 84vw;
  }
  .aboutcontainer {
    width: 50vw;
  }
  .header {
    font-family: 'octarine';
    font-size: 2.5vw;
    padding-left: 1.5vw;
  }
  .paragraph {
    font-family: 'Oxygen';
    font-size: 1.35vw;
    padding-left: 1.5vw;
  }
  .heroheader {
    font-family: 'octarine';
    font-size: calc(2vw - 0.25vw);
    padding-left: 2vw;
  }
  .herosubheader {
    font-family: 'Oxygen';
    font-size: 1.2vw;
    padding-left: 2vw;
  }
  .link {
    font-size: 1.4vw;
  }
  .logo {
    font-size: 1.8vw;
  }
  .contactli {
    font-size: 3.5vw;
    line-height: 1.4em;
    font-family: 'octarine';
  }
  .heroli1 {
    -webkit-text-stroke: 4px #ffe900;
    font-size: calc(10vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }
  .heroli2 {
    -webkit-text-stroke: 3px #ffbf00;
    font-size: calc(8vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }
  .heroli3 {
    -webkit-text-stroke: 4px #ffe900;
    font-size: calc(8vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }
  .contactli1 {
    -webkit-text-stroke: 3px #ffe900;
    font-size: calc(9vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }

  .contactli2 {
    -webkit-text-stroke: 3px #ffbf00;
    font-size: calc(9vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }

  .contactli3 {
    -webkit-text-stroke: 4px #ffe900;
    font-size: calc(9vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }
}

/* widescreen monitors */
@media (min-width: 1500px) {
  .iconsize {
    font-size: 1.8vw;
    opacity: 80%;
  }
  .header {
    font-family: 'octarine';
    font-size: 2vw;
    padding-left: 1.5vw;
  }
  .paragraph {
    font-family: 'Oxygen';
    font-size: 1.5vw;
    padding-left: 1.5vw;
  }
  .heroheader {
    font-family: 'octarine';
    font-size: calc(2vw - 0.25vw);
    padding-left: 2vw;
  }
  .herosubheader {
    font-family: 'Oxygen';
    font-size: 1.2vw;
    padding-left: 2vw;
  }
  .heroli1 {
    -webkit-text-stroke: 4px #ffe900;
    font-size: calc(10vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }
  .heroli2 {
    -webkit-text-stroke: 3px #ffbf00;
    font-size: calc(8vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }
  .heroli3 {
    -webkit-text-stroke: 4px #ffe900;
    font-size: calc(8vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }
  .link {
    font-size: 1.8vw;
  }

  .contactli {
    font-size: 4vw;
    line-height: 1.4em;
    font-family: 'octarine';
  }
  .heroli {
    font-size: 4vw;
    line-height: 1.4em;
    font-family: 'octarine';
  }
  .logo {
    font-size: 2vw;
  }
}
