@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'octarine';
  src: url('../Fonts/octarine-bold-webfont.woff2') format('woff2'),
    url('../Fonts/octarine-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'octarineitalic';
  src: url('../Fonts/octarine-boldoblique-webfont.woff2')
      format('woff2'),
    url('../Fonts/octarine-boldoblique-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'octarine';
  src: url('../Fonts/octarine-bold-webfont.woff2') format('woff2'),
    url('../Fonts/octarine-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'octarineitalic';
  src: url('../Fonts/octarine-boldoblique-webfont.woff2')
      format('woff2'),
    url('../Fonts/octarine-boldoblique-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Russo';
  src: url('../Fonts/russo-one.woff2') format('woff2'),
    url('../Fonts/russo-one.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Oxygen', sans-serif;
  background-color: #fbfcfc;
}

* {
  box-sizing: border-box;
  --stone: #383630;
  /* outline: red solid 2px; */
}
*.dark {
  background-color: #09090b;
  color: #fff;
}
*.light {
  background-color: #fdfdfd;
  color: #041320;
}
#darkmodeicon {
  border-radius: 50%;
  background-color: transparent;
}

.contactli1:hover,
.contactli2:hover,
.contactli3:hover {
  -webkit-text-stroke: 2px #ffa9ff;
  transition: 0.25s ease-out 0.4s;
}
.contactli1,
.contactli2,
.contactli3 {
  -webkit-text-stroke: 2px #ffa200;
}
.header {
  font-family: 'octarine';
  font-size: clamp(16px, 2vw + 0.75rem, 7vw);
  margin-left: 1.5vw;
}

.iconsize {
  font-size: 1.4vw;
  opacity: 80%;
  color: white;
  mix-blend-mode: difference;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
html.lenis {
  height: auto;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.navbarcontainer {
  position: fixed;
  width: 100vw;
  text-decoration: none;
  z-index: 99;
  color: white;
  mix-blend-mode: difference;
}
.logo:hover {
  color: #39ff14;
  transition: ease-out 0.4s;
}

/* smartphones */
@media (max-width: 500px) {
  .workheader,
  .aboutheader {
    font-size: calc(16px + 12vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }
  .aboutbgdd {
    display: none;
  }
  .fonts {
    font-size: calc(16px + 5vw);
  }
  .iconsize {
    font-size: 6vw;
    opacity: 80%;
    right: 6vw;
  }
  .heroheader {
    font-family: 'octarine';
    font-size: clamp(16px, calc(16px + 14vw), 16vw);
    line-height: 110%;
  }
  .herolinks {
    font-family: 'octarine';
    font-size: calc(7vw - 0.25vw);
  }
  .fixedheader {
    font-family: 'octarine';
    font-size: calc(7vw - 0.25vw);
    -webkit-text-stroke: 2.5px var(--stone);
    color: transparent;
  }
  .headertagline {
    font-family: 'octarine';
    font-size: calc(7vw - 0.25vw);
    color: var(--stone);
  }

  .contactli1 {
    font-size: calc(12vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }

  .contactli2 {
    font-size: calc(12vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }

  .contactli3 {
    font-size: calc(12vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }

  .link {
    font-size: 5vw;
  }
  .logo {
    font-size: 6vw;
  }
}

/* small tablets, laptops & desktop monitors */
@media (min-width: 500px) {
  .workheader,
  .aboutheader {
    font-size: calc(16px + 10vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }
  .iconsize {
    font-size: 4vw;
    opacity: 80%;
    left: 70vw;
  }
}
.heroheader {
  font-family: 'octarine';
  font-size: clamp(16px, calc(16px + 14vw), 16vw);
  line-height: 110%;
}
.herolinks {
  font-family: 'octarine';
  font-size: clamp(2vw, calc(6vw - 15%), 8vw);
}
.paragraph {
  font-family: 'Oxygen';
  font-size: 4vw;
  padding: 3.5vw;
}
.fonts {
  font-size: calc(16px + 5vw);
}
.fixedheader {
  font-family: 'octarine';
  font-size: calc(7vw - 0.25vw);
  -webkit-text-stroke: 2.5px var(--stone);
  color: transparent;
}

.herosubheader {
  font-family: 'Oxygen';
  font-size: 2.5vw;
  padding-left: 2vw;
  margin-bottom: 4rem;
}
.link {
  font-size: 3.5vw;
}
.logo {
  font-size: 4.25vw;
}

.contactli1 {
  font-size: calc(10vw - 0.25vw);
  line-height: 1em;
  font-family: 'octarine';
}

.contactli2 {
  font-size: calc(10vw - 0.25vw);
  line-height: 1em;
  font-family: 'octarine';
}

.contactli3 {
  font-size: calc(10vw - 0.25vw);
  line-height: 1em;
  font-family: 'octarine';
}
/* medium tablets, laptops & desktop monitors */
@media (min-width: 950px) {
  .workheader,
  .aboutheader {
    font-size: calc(16px + 4vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }
  .iconsize {
    font-size: 1.8vw;
    opacity: 80%;
    right: 3vw;
  }
  .aboutcontainer {
    width: 50vw;
  }
  .heroheader {
    font-family: 'octarine';
    font-size: clamp(16px, calc(16px + 6.6vw), 8vw);
    line-height: 110%;
  }
  .herolinks {
    font-family: 'octarine';
    font-size: 2.5vw;
  }
  .paragraph {
    font-family: 'Oxygen';
    font-size: 1.6vw;
    padding: 1.5vw;
  }
  .fonts {
    font-size: calc(16px + 2.5vw);
  }
  .fixedheader {
    font-family: 'octarine';
    font-size: calc(4vw - 16px);
    -webkit-text-stroke: 2.5px var(--stone);
    color: transparent;
  }
  .headertagline {
    font-family: 'octarine';
    font-size: calc(2.5vw - 0.25vw);
    color: var(--stone);
  }

  .herosubheader {
    font-family: 'Oxygen';
    font-size: 1.2vw;
    margin-bottom: 2rem;
  }
  .link {
    font-size: 1.4vw;
  }
  .logo {
    font-size: 1.8vw;
  }

  .contactli1 {
    font-size: calc(4vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }

  .contactli2 {
    font-size: calc(4vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }

  .contactli3 {
    font-size: calc(4vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }
}

/* widescreen monitors */
@media (min-width: 1500px) {
  .herosubheader {
    font-family: 'Oxygen';
    font-size: 1.2vw;
    padding-left: 2vw;
  }
  .headertagline {
    font-family: 'octarine';
    font-size: calc(3vw - 0.25vw);
    color: var(--stone);
  }
  .iconsize {
    font-size: 1.8vw;
    opacity: 80%;
  }
  .herolinks {
    font-family: 'octarine';
    font-size: 2vw;
  }
  .paragraph {
    font-family: 'Oxygen';
    font-size: 1.75vw;
    padding-left: 2vw;
  }

  .link {
    font-size: 1.8vw;
  }

  .contactli {
    font-size: 4vw;
    line-height: 1.4em;
    font-family: 'octarine';
  }
  .heroli {
    font-size: 4vw;
    line-height: 1.4em;
    font-family: 'octarine';
  }
  .logo {
    font-size: 2vw;
  }

  .contactli1 {
    font-size: calc(4vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }

  .contactli2 {
    font-size: calc(4vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }

  .contactli3 {
    font-size: calc(4vw - 0.25vw);
    line-height: 1.2em;
    font-family: 'octarine';
  }
}
